body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    direction: rtl;
    text-align: right;
}

.app-container {
    width: 80%;
    margin: auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

#question-container h2 {
    font-size: 1.2em;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.answer-option {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.answer-option:hover {
    background-color: #f1f1f1;
}
